.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    font-size: 50px;
    font-weight: 700;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__item {
      font-size: 25px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;

      &:hover {
        transform: scale(1.2);
      }
      a:hover {
        color: #fff;
      }
    }

    &__item:not(:last-child) {
      margin-right: 25px;
    }
  }
}
