.container {
  font-family: "Caveat", cursive;
}

h1,
h2,
h3 {
  font-size: 1.7rem;
}

.quiz-container li {
  font-size: 1.5rem;
}

.btn,
.btn-disabled {
  padding: 8px 4px;
  margin-top: 15px;
  background-color: #fff;
}

.btn {
  font-size: 1.5rem;
}
.btn-disabled {
  font-size: 1rem;
}

.li-correct {
  background-color: #aaf5aa;
}

.li-incorrect {
  background-color: #f5aaaa;
}
