.main {
  width: 95vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Caveat", cursive;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    border-radius: 10px;
    background-color: #fff;
    position: relative;

    .right,
    .wrong {
      position: absolute;
      z-index: 1;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300px;
      height: 100px;
      text-align: center;
      padding: 24px;
      background-color: #fff;
      border-radius: 10px;
      border: 2px solid #000;
      font-size: 2rem;
    }

    .right {
      color: #31b331;
    }
    .wrong {
      color: #cb4646;
    }
  }

  .table,
  .tbody,
  .tr,
  .td {
    border: 1px solid #f29559;
  }

  .table {
    max-width: 70vw;
    font-size: 1.5rem;

    .td {
      max-width: 698px;
      padding: 10px 15px;
    }
  }
}

.selected {
  background-color: #f29559;
  max-width: 698px;
  padding: 10px 15px;
}

.containerQuiz {
  margin-top: 10vh;
}

.quizContainer {
  max-width: 70vw;

  .questionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;

    .audio {
      margin-top: 5vh;
    }

    .audio::-webkit-media-controls-panel {
      background-color: #f29559;
    }

    .audio::-webkit-media-controls-play-button {
      background-color: #fff;
      border-radius: 50%;
    }

    .imageContainer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;
      margin-top: 3vh;

      .image {
        max-width: 33%;

        img {
          width: 100%;
        }
      }
    }

    .correct {
      background-color: #aaf5aa;
    }
    .incorrect {
      background-color: #f5aaaa;
    }
  }
}

.titleSection {
  margin-top: 5vh;
  font-size: 2rem;
}

.showResultButton {
  padding: 8px 8px;
  width: 30%;
}

.exit {
  margin-top: 5vh;
  border: 2px solid #fff;
  padding: 5px;
  color: #fff;
  font-size: 2rem;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;

  &:hover {
    transform: scale(1.3);
  }
}
