* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  padding: 20px 30px;
}

a {
  text-decoration: none;
  color: #000105;
}
li {
  list-style-type: none;
}

main {
  padding: 1rem;
}

h1 {
  font-size: 3rem;
}

h1,
h2 {
  color: #000105;
}

h3 {
  padding-bottom: 2rem;
  color: #000105;
  font-size: 2.1rem;
}

button {
  margin-top: 12px;
  padding: 16px 8px;
  width: 100%;
  font-family: "Caveat", cursive;
  font-size: 2rem;
  color: #000105;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

button:hover {
  color: #fff;
  background-color: #1469d7;
}

// li {
//   cursor: pointer;
//   margin: 9px 0;
//   padding: 16px 8px;
//   color: #000105;
//   border: 1px solid lightgray;
// }

.li-hover:hover {
  background-color: #d8d8d8;
  columns: #fff;
}

.li-selected {
  color: #fff;
  background-color: #000925;
}

// .container {
//   max-width: 740px;
//   width: 100%;
//   margin: auto;
//   padding: 1rem;
// }

.quiz-container {
  padding: 1rem;
  margin-top: 2rem;
  border-radius: 4px;
}

.container p {
  padding: 8px 0;
}
